.cabecalho{
    background-color: var(--cor-do-cabecalho);
    padding: 1em;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem, .container__frase{
    padding: 1em;

}

.container__frase, .container__titulo{
    display: none;
}

@media screen and (min-width:820px ) {
    .container__titulo{
        display: block;
        font-weight: 400;
    }
    
}

@media screen and (min-width:1024px ) {
    .container__frase{
        display: block;
    }
    
}

